/* line 48, icons/*.png */
.icons-sprite, .icons-bitbucket {
  background-image: url('../images/icons-sbad07316ea.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../../Users/arimaulana/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bitbucket {
  background-position: 0 0; }

/* line 16, ../scss/libs/_images.scss */
.icon-food {
  position: relative;
  background-size: cover;
  background-image: url('../images/fonts/default.png?1515081435');
  background-position-y: 6480px;
  width: 24px;
  height: 24px; }

/* line 25, ../scss/libs/_images.scss */
.icon-game {
  position: relative;
  background-size: cover;
  background-image: url('../images/fonts/default.png?1515081435');
  background-position-y: 6456px;
  width: 24px;
  height: 24px; }
  /* line 32, ../scss/libs/_images.scss */
  .icon-game.medium {
    position: relative;
    background-size: cover; }

/* line 38, ../scss/libs/_images.scss */
.icon-text {
  position: relative;
  background-size: cover;
  background-image: url('../images/fonts/default.png?1515081435');
  background-position-y: 6432px;
  width: 24px;
  height: 24px; }
  /* line 45, ../scss/libs/_images.scss */
  .icon-text.medium {
    position: relative;
    background-size: cover; }

/* line 52, ../scss/libs/_images.scss */
.ic-reload {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: 0px;
  width: 20px;
  height: 20px; }

/* line 61, ../scss/libs/_images.scss */
.ic-close {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -20px;
  width: 20px;
  height: 20px; }

/* line 70, ../scss/libs/_images.scss */
.ic-plus {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -40px;
  width: 20px;
  height: 20px; }

/* line 79, ../scss/libs/_images.scss */
.ic-minus {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -60px;
  width: 20px;
  height: 20px; }

/* line 88, ../scss/libs/_images.scss */
.i-game {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/fonts/default.png?1515081435');
  background-position-y: 6456px; }

/* line 96, ../scss/libs/_images.scss */
.text {
  padding: 50px 150px;
  background-position: 5px 50%;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png"); }

/* line 1, ../scss/components/_table.scss */
.ri-tbl {
  margin: 0; }
  /* line 3, ../scss/components/_table.scss */
  .ri-tbl tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

/* line 11, ../scss/components/_table.scss */
.ri-tbl-bm {
  width: 100%; }

/* line 1, ../scss/components/_button.scss */
.ri-btn {
  background-color: #008fd7;
  border: none; }

/* line 8, ../scss/components/_button.scss */
.ri-btn-primary {
  background-color: #e85257;
  border: none; }

/* line 13, ../scss/components/_button.scss */
.ri-btn-default {
  background-color: #e85257;
  border: none; }

/* line 19, ../scss/components/_button.scss */
.btn.btn-primary {
  background-color: #e85257;
  border: none; }

/* line 3, ../scss/partials/_navbar.scss */
.bg-blue {
  background-color: #0c5460; }

/* line 7, ../scss/partials/_navbar.scss */
.bg-clear {
  background-color: #ffffff; }

/* line 14, ../scss/partials/_navbar.scss */
#nav_top ul li a {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 22, ../scss/partials/_navbar.scss */
#nav_bottom {
  border-top: 1px solid #e2e6ea; }
  /* line 24, ../scss/partials/_navbar.scss */
  #nav_bottom .title {
    color: #2e3436;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 32, ../scss/partials/_navbar.scss */
#foot-auth a {
  font-size: 15px; }

/* line 11, ../scss/pages/_home.scss */
h2 {
  color: #e85257;
  text-align: center; }

/* line 17, ../scss/pages/_home.scss */
.btn.btn-primary {
  background-color: #008fd7;
  border: none;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px; }

/* line 25, ../scss/pages/_home.scss */
.nav-list li {
  background-color: #eeeeee; }
  /* line 27, ../scss/pages/_home.scss */
  .nav-list li a {
    color: #666666;
    border-bottom: 1px solid #bbbbbb; }
  /* line 31, ../scss/pages/_home.scss */
  .nav-list li a:hover {
    background-color: #cccccc; }

/* line 37, ../scss/pages/_home.scss */
.page-header {
  background-color: #e85257;
  padding: 10px; }

/* line 42, ../scss/pages/_home.scss */
.c-price {
  padding: 10px;
  font-size: 13px; }
  /* line 45, ../scss/pages/_home.scss */
  .c-price a {
    text-decoration: none; }
  /* line 48, ../scss/pages/_home.scss */
  .c-price .price {
    padding: 0px;
    margin-top: 10px;
    color: #e85257; }
  /* line 53, ../scss/pages/_home.scss */
  .c-price .name {
    padding: 0px;
    margin-top: 10px;
    text-decoration: none;
    color: #333333; }

/* line 60, ../scss/pages/_home.scss */
.c-price:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

/* line 71, ../scss/pages/_home.scss */
.t-product {
  padding: 10px;
  margin-top: 10px; }

/* line 3, ../scss/pages/_login.scss */
#f-login {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px; }

/*# sourceMappingURL=app.css.map */
