@import "../libs/fonts";

.bg-blue {
  background-color: #0c5460;
}

.bg-clear {
  background-color: #ffffff;
}

#nav_top {
  & ul {
    & li {
      & a {
        font-size: 15px;
        font-family: $font-primary;
      }
    }
  }
}

#nav_bottom {
  border-top: 1px solid #e2e6ea;
  & .title {
    color: #2e3436;
    font-size: 15px;
    font-family: $font-primary;
  }
}

#foot-auth {
  & a {
    font-size: 15px;
  }
}
